@charset "UTF-8";
@import "http://www.yingke.com/yingke/src/styles/yingke-usage/core/swiper-3.3.1.min.css";
.yo-header {
  position: relative;
  height: 0.44rem;
  line-height: 0.44rem;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  font-size: 0.16rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.yo-header > .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0.6rem;
}

.yo-header > .regret,
.yo-header > .affirm {
  position: absolute;
  top: 0;
  width: 0.6rem;
  cursor: pointer;
  font-size: 0.14rem;
}

.yo-header > .regret:active,
.yo-header > .affirm:active {
  opacity: .5;
}

.yo-header > .regret.yo-ico,
.yo-header > .regret > .yo-ico,
.yo-header > .affirm.yo-ico,
.yo-header > .affirm > .yo-ico {
  font-size: 0.2rem;
}

.yo-header > .regret {
  left: 0;
  padding-left: 0.15rem;
  text-align: left;
}

.yo-header > .affirm {
  right: 0;
  padding-right: 0.15rem;
  text-align: right;
}

.yo-list > .label,
.yo-list > .item,
.yo-list .front {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: translatez(0);
  transform: translatez(0);
}

.yo-list > .label > .mark:not(:last-child),
.yo-list > .label > .yo-ico:not(:last-child),
.yo-list > .item > .mark:not(:last-child),
.yo-list > .item > .yo-ico:not(:last-child),
.yo-list .front > .mark:not(:last-child),
.yo-list .front > .yo-ico:not(:last-child) {
  margin-right: .1rem;
}

.yo-list > .label > .flex,
.yo-list > .item > .flex,
.yo-list .front > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
}

.yo-list > .label > .mark,
.yo-list > .label > .yo-ico,
.yo-list > .label > .col,
.yo-list > .label > .flex,
.yo-list > .item > .mark,
.yo-list > .item > .yo-ico,
.yo-list > .item > .col,
.yo-list > .item > .flex,
.yo-list .front > .mark,
.yo-list .front > .yo-ico,
.yo-list .front > .col,
.yo-list .front > .flex {
  display: block;
}

.yo-list > .label.tr,
.yo-list > .item.tr,
.yo-list .front.tr {
  padding: 0;
}

.yo-list > .label {
  padding: 0.03rem 0.1rem;
  border: 1px solid #eee;
  border-width: 0 0 1px 0;
  background-color: #fafafa;
  color: #9e9e9e;
  font-size: 0.13rem;
  font-weight: normal;
}

.yo-list > .label > .col {
  padding: 0.03rem 0.1rem;
}

.yo-list > .label:not(:first-child) {
  border-width: 1px 0;
  margin-top: -1px;
}

.yo-list > .item,
.yo-list .front {
  padding: 0.11rem;
}

.yo-list > .item {
  background-color: #fff;
  color: #212121;
  font-size: 0.14rem;
  background-image: -webkit-linear-gradient#eee, #eee;
  background-image: linear-gradient(#eee, #eee);
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.yo-list > .item:last-child {
  margin-bottom: -1px;
  background-image: -webkit-linear-gradient#ddd, #ddd;
  background-image: linear-gradient(#ddd, #ddd);
  background-position: 0 bottom;
}

.yo-list > .item-stacked {
  display: block;
}

.yo-list > .item-stacked > .mark {
  padding-bottom: .05rem;
}

.yo-list > .item-input > .yo-input {
  height: auto;
  padding: 0;
  border: 0;
}

.yo-list > .item.item-active:active, .yo-list > .item.item-light {
  background-color: #f8f8f8;
}

.yo-list > .item > .col {
  padding: 0.11rem;
}

.yo-list > .yo-slidermenu {
  display: block;
  padding: 0 !important;
}

.ani {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ani.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotatez(0);
  }
  to {
    -webkit-transform: rotatez(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotatez(0);
  }
  to {
    transform: rotatez(360deg);
  }
}

.ani.rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
}

.yo-loading {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 1;
}

.yo-loading > .inner {
  display: block;
  text-align: center;
  padding: .1rem .2rem;
  border-radius: 0.05rem;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  color: #212121;
  font-size: 14px;
}

.yo-loading > .inner > .yo-ico {
  display: block;
  margin-bottom: .1rem;
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.yo-loading > .inner > .yo-ico::before {
  content: "";
  color: #333;
  font-family: yofont;
  font-size: 0.5rem;
}

.yo-header-a {
  color: #333;
  font-size: 0.18rem;
  border-bottom: 0;
  position: relative;
  font-family: PingFangSC-Semibold, "幼圆", Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}

.yo-header-a > .regret,
.yo-header-a > .affirm {
  color: #1ba9ba;
}

.yo-header-a > .regret {
  padding-left: 0.05rem;
}

.yo-header-a > .affirm {
  padding-right: 0.05rem;
}

.yo-header-a .regret.yo-ico {
  font-weight: bold;
}

.yo-header-a::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  content: "\0020";
  border-color: #ddd;
  border-style: solid;
  border-width: 0 0 1px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-header-a::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-header-a::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-header-a::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-header-a h2 {
  font-weight: normal;
}

.yo-loading-a {
  background-color: #fff;
  z-index: -1;
}

.yo-loading-a > .inner > .yo-ico::before {
  color: #1ba9ba;
  font-size: 0.3rem;
}

[qapp-widget="scroll"] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  width: 100%;
}

body {
  background-color: #fff !important;
}

.log-image-zoomout {
  width: 100%;
}

*,
::before,
::after {
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: #fafafa;
  color: #212121;
  font-size: 100px;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: PingFangSC-Semibold, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit;
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset,
img {
  border: 0;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}

textarea,
pre,
xmp {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

textarea {
  resize: vertical;
}

input,
textarea,
button,
select
a {
  outline: 0 none;
}

input,
textarea,
button,
select {
  color: inherit;
}

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

mark {
  background-color: transparent;
}

a,
ins,
s,
u,
del {
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

a {
  color: #00afc7;
}

.g-clear::after,
.g-mod::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020";
}

@font-face {
  font-family: yofont;
  src: url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.woff") format("woff"), url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.ttf") format("truetype");
}

.yo-ico {
  font-family: yofont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

qapp-app {
  position: absolute;
  overflow: hidden;
}

qapp-view {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background: #eceef0 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.m-index {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.m-index .m-index-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  width: 100% !important;
}

.m-index .m-index-nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: .49rem;
  background: #fff;
}

.m-index .m-index-nav::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  content: "\0020";
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .m-index .m-index-nav::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .m-index .m-index-nav::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .m-index .m-index-nav::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.m-index .m-index-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.m-index .m-index-nav ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: .12rem;
}

.m-index .m-index-nav ul li:nth-child(1) {
  background: url(../../../../icon/home-normal.png) no-repeat center 0.06rem;
  background-size: .21rem;
}

.m-index .m-index-nav ul li:nth-child(2) {
  background: url(../../../../icon/fenlei-normal.png) no-repeat center 0.06rem;
  background-size: .2rem;
}

.m-index .m-index-nav ul li:nth-child(3) {
  background: url(../../../../icon/gouwuche-normal.png) no-repeat center 0.06rem;
  background-size: .22rem;
}

.m-index .m-index-nav ul li:nth-child(4) {
  background: url(../../../../icon/personal-normal.png) no-repeat center 0.06rem;
  background-size: .18rem;
}

.m-index .m-index-nav ul li i, .m-index .m-index-nav ul li b {
  display: block;
  color: #9f9f9f;
}

.m-index .m-index-nav ul li.active:nth-child(1) {
  background-image: url(../../../../icon/home-selected.png);
}

.m-index .m-index-nav ul li.active:nth-child(2) {
  background-image: url(../../../../icon/fenlei-selected.png);
}

.m-index .m-index-nav ul li.active:nth-child(3) {
  background-image: url(../../../../icon/gouwuche-selected.png);
}

.m-index .m-index-nav ul li.active:nth-child(4) {
  background-image: url(../../../../icon/personal-selected.png);
}

.m-index .m-index-nav ul li.active i,
.m-index .m-index-nav ul li.active b {
  color: #ff6162;
}

.m-index .m-index-nav ul li i {
  font-size: .17rem;
  padding-bottom: 0.03rem;
}

.m-index .m-index-nav ul li i:not(.paipai) {
  height: .17rem;
}

.m-index .m-index-nav ul li b {
  font-weight: normal;
  line-height: .35rem;
}

.m-home {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.m-home .m-home-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  width: 100% !important;
  overflow: hidden;
  position: relative;
}

.m-home .m-home-body .swiper-goods img {
  width: 100px;
  height: 100px;
}

.m-home .m-home-header {
  z-index: 2;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: .44rem;
  background: #ff6162;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.m-home .m-home-header::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  content: "\0020";
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .m-home .m-home-header::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .m-home .m-home-header::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .m-home .m-home-header::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.m-home .m-home-header .backBtn, .m-home .m-home-header .searchBth {
  width: 0.40rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  justify-content: space-around;
}

.m-home .m-home-header .search {
  flex-grow: 1;
  height: 0.34rem;
  border: none;
  text-indent: 0.10rem;
  font-size: .14rem;
  font-family: PingFangSC-Regular, sans-serif;
  color: #999999;
}

.m-home .swiper-focus {
  width: 100%;
  height: 1.3rem;
  position: relative;
}

.m-home .swiper-focus img {
  width: 100%;
  height: 100%;
}

.m-home .swiper-focus .swiper-pagination {
  margin: 0 auto;
  width: 100%;
  bottom: 0;
}

.m-home .swiper-focus .swiper-pagination .swiper-pagination-bullet {
  margin: 0 0.05rem;
}

.m-home .category-level1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: .12rem;
  padding-bottom: .12rem;
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.m-home .category-level1 * {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 0.11rem;
  color: #818181;
  line-height: 0.2rem;
}

.m-home .category-level1 li {
  flex-grow: 1;
}

.m-home .category-level1 img {
  width: 0.52rem;
}

.m-home .goods-list {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  background: #fff;
}

.m-home .goods-list li:first-child, .m-home .goods-list li:last-child {
  flex-grow: 1;
  text-align: center;
}

.m-home .goods-list li:first-child a, .m-home .goods-list li:last-child a {
  color: #818181;
  display: inline-block;
  width: 0.8rem;
  height: 0.41rem;
  line-height: .41rem;
  border-bottom: 0.02rem solid #fff;
}

.m-home .goods-list li[class*="selected"] a {
  border-bottom: 0.02rem solid #ff6162;
  color: #ff6162;
}

.m-home .goods-list li:nth-child(2) {
  width: 1px;
  background: #ccc;
  height: 0.23rem;
  margin-top: 0.1rem;
}

.m-home .swiper-goods {
  width: 100%;
}

.m-home .m-home-footer {
  width: 100%;
  height: 0.49rem;
}

.m-classtify {
  width: 100%;
}

.m-classtify .m-classtify-header {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: .44rem;
  background: #ff6162;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.m-classtify .m-classtify-header::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  content: "\0020";
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .m-classtify .m-classtify-header::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .m-classtify .m-classtify-header::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .m-classtify .m-classtify-header::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.m-classtify .m-classtify-header .backBtn, .m-classtify .m-classtify-header .searchBth {
  width: 0.40rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  justify-content: space-around;
}

.m-classtify .m-classtify-header .search {
  flex-grow: 1;
  height: 0.34rem;
  border: none;
  text-indent: 0.10rem;
  font-size: .14rem;
  font-family: PingFangSC-Regular, sans-serif;
  color: #999999;
}

.m-shoppingcart {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.m-shoppingcart .m-shoppingcart-header {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: .44rem;
  background: #ff6162;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
}

.m-shoppingcart .m-shoppingcart-header::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  content: "\0020";
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .m-shoppingcart .m-shoppingcart-header::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .m-shoppingcart .m-shoppingcart-header::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .m-shoppingcart .m-shoppingcart-header::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.m-shoppingcart .m-shoppingcart-header .backBtn, .m-shoppingcart .m-shoppingcart-header .compileBtn {
  width: 0.40rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  justify-content: space-around;
}

.m-shoppingcart .m-shoppingcart-header .shoppingcart-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  text-align: center;
}

.m-shoppingcart .m-shoppingcart-body {
  width: 100% !important;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  position: relative;
}

.m-user {
  width: 100%;
}

.m-user .m-user-header {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: .44rem;
  background: #ff6162;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
}

.m-user .m-user-header::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  content: "\0020";
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .m-user .m-user-header::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .m-user .m-user-header::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .m-user .m-user-header::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.m-user .m-user-header .back-btn, .m-user .m-user-header .compile-btn {
  width: 0.40rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  justify-content: space-around;
}

.m-user .m-user-header .user-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  text-align: center;
}
